.img-Propietary{
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px #000;

}

a {
font-size: 30;
color: black;
text-decoration: none; /* no underline */
}

.texto{
    text-align: center;
}
.texto-principal{
    text-align: left;
}
.alineacion-izq{
    text-align: left;
}
.columna{
    background-color: blue;
}
.alineacion-der{
    text-align: right;
}
.alineacion-justify{
    text-align:justify;
}
.icono-aumentado{
    transform: scale(1.4);
    
}