.img-Propietary{
        width: 30%;
        height: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
      
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

h5,.Carousel {
        /* margin: 10px; */
        /* padding: 10px; */
        text-align: left;
        font-size:15px;
        }
.align-right{
        text-align: right;
}
.align-center{
        text-align: center;
                /* margin: 10px; */
        /* padding: 10px; */
}
.align-left{
        text-align: left;
}
.test{
        text-align: left;
}

.leaflet-container {
        padding: 5px;
        margin: 5px;
        width: 80vw;
        height: 45vh;
        /* position: inherit; */
      }