.img-Propietary{
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px #000;

}

h3, h5, .Carousel {
margin: 10px;
padding: 10px;
text-align: left;
}

.texto{
    text-align: center;
    margin: 2px;
    padding: 10px;
}

.texto-principal{
    text-align: left;
}
.alineacion-izq{
    text-align: left;
}
.columna{
    background-color: blue;
}
.alineacion-der{
    text-align: right;
}
.alineacion-justify{
    text-align:justify;
    text-justify: distribute;
}
.icono-aumentado{
    transform: scale(1.4);   
}

ul{
    list-style: none;
    text-decoration:none;
    text-align: left;
    font-size: 10px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 1;
  }
  