.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}


.caption {
  position: absolute;
  margin-top: 10px;
  margin-left: 200px;
  /* font-size: 20px;
  font-family: poppins,sans-serif;
  font-weight: 400;
  line-height: 1.5; */
  color: rgb(88, 13, 228);
  
  left: 0;
  width: 100%;
 }

.titleLanding{
  margin-top: 10px;
  text-align: left;
  /* margin-left: 100px; */
  font-size: 30px;
  color: white;
  /* font-family: poppins; */
  /* font-weight: 500; */
  line-height: 1.5; 
}
.subTitleLanding{
  text-align: left;
  font-family: sans-serif;
    font-weight: 300;
    line-height: 1;
    font-size: 20  px;
}
.img{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

u{
  list-style: none;
  text-decoration:none;

}
ul{
  list-style: none;
  text-decoration:none;
  text-align: left;
  font-size: 10px;
}

.text-footer{
  font-size: 20px;
  
}
.info-footer{
  justify-content: left;
  font-size: 12px;
}

footer{
  background-color: rgb(47, 45, 45);
 
  color: "white";
  border-Top: "1px solid #E7E7E7";
  margin: 10px;
  padding: 30px;
  /* position: ; */
  left: 0;
  bottom: 0;
  height: "600px";
  width: 100%;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: medium;
  text-align: left;
  text-decoration:none;

}

.fixed-bottom {
  position: top;
 
 
}

.leaflet-container{
  width: 400px;
  height: 400px;
}

.text-carrousel{
  font-size:small;


}

.text-mainText{
  position: center;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}


.wrapper {
  max-width:200px;
  width:100%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}
